.container {
	position: relative;
	margin: 0 auto;
	width: 640px;
}

.container canvas {
	border: solid 1px gray;
	top: 0px;
	left: 0px;
	z-index: 0;
}

.overlay {
	position: absolute;
	width: 640px;
	height: 480px;
	top: 0px;
	left: 0px;
	opacity: 0;
	z-index: 1;
	background-color: white;
}

.instructions {
	position: auto;
	text-align: center;
	color: gray;
	font-family: tahoma;
	z-index: 2;
}

.end_message {
	text-align: center;
	color: black;
	font-family: tahoma;
	line-height: 240px;
}
